/* Contact */
/* Map */
#contact .map {
  width: 100%;
  height: 300px;
}

/* Social Icon */
#social a i.fa {
  padding: 25px;
  background-color: #F05F40;
  border-radius: 50%;
}
#social a i.fa-facebook-f,
#social a i.fa-pinterest-p {
  padding-left: 30px;
  padding-right: 30px;
}

/* Header background picture */
header.masthead  {
  background-position: top;
  /* This makes background image darker */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
